<%- include('./partials/header') %>


    <h1 class="text-align-center">Goals to Inspire You</h1>
    <h2 class="text-align-center">Ready to rock your world with goals that'll make your heart do the happy dance? It's time to unleash your inner dream-chaser and embrace the adventure of a lifetime! Imagine yourself as a goal-getting superhero, armed with determination and a killer sense of humor. So, buckle up, ignite your passions, and let's write a tale of triumph that'll leave you in awe of your own awesomeness. Get set, go!</h2>

<%- include('./partials/footer') %>
